* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-wrapper {
  background-color: lightsteelblue;
  padding-bottom: 40px;
  padding-top: 30px;
}

.todoForm {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.completed {
  text-decoration: line-through;
}

.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.todo > h3 {
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}

.todo-input {
  border-radius: 5px;
  border: 1px aqua solid;
  padding: 5px;
}

.change-btn {
  background: lightcoral;
  padding: 5px 10px 5px 10px;
  border: none;
  margin-left: 10px;
  border-radius: 20px;

  cursor: pointer;
}

.todo-btn {
  padding: 5px 10px 5px 10px;
  margin-left: 20px;
  border-radius: 20px;
  border: none;
  background-color: aqua;
  cursor: pointer;
}

.todo-btn:hover {
  background-color: aquamarine;
}
